<form method="post" asp-controller="Random" asp-action="Index">
	<table>
		<tr>
			<td><p>Количество строк</p></td>
			<td><input id="Count" type="number" name="Count" /> </td>
		</tr>
		<tr>
			<td><p>Длина строк</p></td>
			<td><input id="Length" type="number" name="Length" /> </td>
		</tr>
	</table>
	<input type="submit" value="Получить строки" />
</form>